@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

body {
  background-image: url('/img/dvq_big_gif_resized.gif');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  // text-shadow: 0px 2px 5px #00ff00;
}

.panelll{
  background-color: rgba(255,255,255,0.2);
}

* {
  font-family: "Arimo";
}

h1 {
  text-transform: uppercase;

}
.colHeader hr{
  border: 6px black solid;
  width:10%;
  text-align:left;
  position:relative;
  left:-45%;
}
.colHeader a {
  &:hover, &:active, &:visited, &:link{
    
    text-decoration: none;
    color: black;
  }
  color: black;

}

.colHeader {
  overflow:hidden;
}

a h1{
  text-decoration: line-through;
}

a.collapsed h1{
  text-decoration: none;
}