//first.jade
#eventInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse"
  href="#eventInfoCollapseData")
    h1
      |DINCA 
      br
      |VISION QUEST 
      br
      |2013
  hr
#eventInfoCollapseData.collapse.in
  p Held at MANA CONTEMPORARY in Chicago, VISION QUEST 2013 is a three-day post-internet (IRL) translation of the DINCA.org blog experience, featuring a handful of screenings and live A/V performances that travel the niches of internet art, computer art, new & experimental media, video art, avant-garde film and video, documentary, and ethnographic cinema. 
  p Featuring *LIVE A/V new-media* performances by Nick Briz, A Bill Miller, Jon Satrom & Ben Syverson (pox party), James Connolly, and an open call NO-MEDIA performance.
  p Featuring post-post-internet parties with sounds from Sich Mang, DJ BLACKTWITTER, and Violet Systems, with visuals by Theodore Darst, Effie Asili, and Sam Goldstein.
