//first.jade
#eventInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#eventInfoCollapseData")
    h1
      |DINCA 
      br
      |VISION QUEST 
      br
      |2013
  hr
#eventInfoCollapseData.collapse.in
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, minima, molestias, illum quae cum quia culpa expedita sint beatae sunt harum aliquid praesentium iusto dolores quasi. Officiis ea quidem libero!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, voluptates, ex, sapiente sed officiis veritatis aperiam nisi placeat earum nulla dolore accusantium amet dicta aut cupiditate aliquam aspernatur porro accusamus.    
