//first.jade
#eventInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse"
  href="#eventInfoCollapseData")
    h1
      |DINCA 
      br
      |VISION QUEST 
      br
      |2013
  hr
#eventInfoCollapseData.collapse.in
  p
    a(href="http://dinca.org", target="_blank") DINCA 
    | | #VQ13 --> <a href="http://twitter.com/dincablog" target="_blank">Twitter</a>
  p
    |Held at <a href="http://manafinearts.com" target="_blank">Mana Contemporary</a> in Chicago, Vision Quest 2013 is a three-day post-internet [IRL] translation of the <a href="http://dinca.org" target="_blank">dinca.org</a> blog experience, featuring a handful of screenings and live A/V performances that travel the niches of internet art, computer art, new & experimental media, video art, avant-garde film and video, documentary, and ethnographic cinema. 
  p
    |Featuring <em>*live a/v new-media*</em> performances by <a href="http://nickbriz.com" target="_blank">Nick Briz</a>, <a href="http://www.master-list2000.com/abillmiller/" target="_blank">A Bill Miller</a>, <a href="http://jonsatrom.com" target="_blank">Jon Satrom</a> & <a href="http://bensyverson.com">Ben Syverson</a> (<a href="http://poxparty.com" target="_blank">pox party</a>), <a href="http://jameshconnolly.com" target="_blank">James Connolly</a>, and an open call <a href="http://no-media.tumblr.com" target="_blank">NO-MEDIA</a> performance.
  p
    |Featuring post-post-internet parties with sounds from <a href="http://soundcloud.com/sichmang" target="_blank">Sich Mang</a>, DJ BLACKTWITTER, and <a href="http://soundcloud.com/entroemcee" target="_blank">Violet Systems</a>, with visuals by <a href="http://theodoredarst.net" target="_blank">Theodore Darst</a>, <a href="" target="_blank">Effie Asili</a>, and <a href="http://sammutant.tumblr.com/" target="_blank">Sam Goldstein</a>.
  p: b: ABOUT MANA CONTEMPORARY 
  p 
    a(href="http://manafinearts.com", target="blank")
    |Mana Contemporary is a ground-breaking venture bringing together influential artists, collectors, galleries, dealers and institutions into one core with the purpose of advancing the relationships and creating a single community. We are a comprehensive art storage and handling company. We work on any project, as small as wrapping a piece and as large as moving an entire museum. By creating Mana Contemporary, we are seeking a departure from the standards of our industry to create a facility and team that surpasses the norm in every way.