// friday.jade
include mixins

#fridayInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#fridayInfoCollapseData")
    h1 Friday 22
  hr
#fridayInfoCollapseData.collapse
  each event in events
    if event.time == 'friday'
      +event(event)
      each piece in event.pieces
        +piece(piece)
