extends ../layout

block content
  .container
    .page-header
      h1#vision Visionquest
        small= 2013
      p some text
block append js
  script.
    function start(){
      setInterval(function(){
        jQuery("#vision").css('color', 'rgb('+rc()+','+rc()+','+rc()+')');
      }, 666);
    }
    function rc(){
      return Math.floor(Math.random()*255);
    }