// saturday.jade
include mixins

#saturdayInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#saturdayInfoCollapseData")
    h1 Saturday 23
  hr
#saturdayInfoCollapseData.collapse
  each event in events
    if event.time =='saturday'
      +event(event)
      each piece in event.pieces
        +piece(piece)
