//third.jade
#thirdColumnCollapseFirst.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#thirdColumnCollapseFirstData")
    h1 NOV. 21-23 MANACA STUDIOS
  hr
#thirdColumnCollapseFirstData.collapse
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quasi rem ea praesentium et! Cupiditate, qui, quibusdam cumque quaerat magnam dolore aut totam optio neque odio veritatis consequuntur iste eligendi!    
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, quod, consequatur, accusantium nemo necessitatibus facilis voluptatibus asperiores sunt debitis iure numquam dolorum eum odit ullam doloribus accusamus eius velit repudiandae.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, amet, pariatur nam nisi velit quisquam asperiores labore unde facilis inventore. Laboriosam, consectetur, aspernatur deleniti laudantium nesciunt saepe atque velit nobis.
