//third.jade
#thirdColumnCollapseFirst.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#thirdColumnCollapseFirstData")
    h1 NOV. 21-23 MANA
      br
      |CONTEMPORARY
  hr
#thirdColumnCollapseFirstData.collapse
  h4 DINCA VISION QUEST 2013
  p 
    b Curated by: 
    |<a href="http://anrewrosinski.com" target="_blank">Andrew Rosinski</a> &amp; <a href="http://fernsilva.com" target="_blank">Fern Silva</a>
  p 
    b Held at: 
    a(href="http://manafinearts.com", target="_blank") Mana Contemporary
    | &nbsp;2233 S. Throop St, Chicago, IL, USA (<a href="http://goo.gl/maps/7ELYl" target="_blank">MAP</a>)
  p 
    b Graphic design for web and print by: 
    |<a href="http://willswork.com" target="_blank">Will Thomas</a>
  p
    b Website coded by: 
    a(href="http://yolk.cc") Joseph Yølk Chiocchi
  p
    b Screen printing by: 
    |Erik Russell
  p 
    b Audio by: 
    a(href="http://simpleavchicago.com", target="_blank")
      |Simple A/V
  p
    b Live audio mixing by: 
    |Steve Emling
  h4 SPECIAL THANKS TO:
  p Mana Contemporary, Ciara Ruffino & Nicholas Wylie, Chris Collins, Alexander Narinskiy, Will Thomas, Erik Russell, Daniel Postilnik, and Amelia St. Peter Blair.
