//third.jade
#thirdColumnCollapseFirst.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#thirdColumnCollapseFirstData")
    h1 NOV. 21-23 MANA
      br
      |CONTEMPORARY
  hr
#thirdColumnCollapseFirstData.collapse
  h4 DINCA VISION QUEST 2013
  p Curated by: Andrew Rosinski & Fern Silva
  p Held at: Mana Contemporary, 2233 S. Throop St, Chicago, IL, USA
  p Graphic design for web and print by: Will Thomas
  p Website coded by\: 
    a(href="http://yolk.cc") Joseph Yølk Chiocchi
  p Screen printing by: Erik Russell
  p Audio by: Simple A/V
  p Live audio mixing by: Steve Emling

  h4 SPECIAL THANKS TO:
  p Mana Contemporary, Ciara Ruffino & Nicholas Wylie, Chris Collins, Alexander Narinskiy, Will Thomas, Erik Russell, Daniel Postilnik, and Amelia St. Peter Blair.
