//thursday.jade
include mixins
#thursdayInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#thursdayInfoCollapseData")
    h1 Thursday 21
  hr
#thursdayInfoCollapseData.collapse
  each event in events
    if event.time == 'thursday'
      +event(event)
      each piece in event.pieces
        +piece(piece)