doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/main.css')

  body
    block content

  block js
    script(src='/components/requirejs/require.js', data-main='/js/init')
    script.
      var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
      Keen.configure({
          projectId: "528a7b2500111c188f000007",
          readKey: "068d06f9add1f9c9cd39cb41f317b0d807fe63244c163b6da44a604a28982bbb7305d2e85a5edf9ece9a3c981cd0162181a401ea8ea6f027295b519718adc5c7b2042a610a86a9ff3375a1e550d8c6585134f2829b94d968efac1588d2843c8ca0aeb52e915ff717c81b538b066665aa",
          writeKey: "ab789a9944d6cfe74b76a006ac395a80e83a0af558efd20dea8834927105a5a1ac7a425be57c54a99506c101d8cb82011c22b392082054318fb1bc63ced090d68859174d8270f62728039ec49311aa20e5c5be692aebc880c8966127ad0134f56d4d77fb4dd9c656a80b9c8008581a10"
      });
      Keen.onChartsReady(function() {
        var metric = new Keen.Metric("load", {
          analysisType: "count"
        });
        metric.draw(document.getElementById("visit-count"),{
          label: "VISITS"
          });
      });
    unless env.production
      script(src='http://localhost:35729/livereload.js')

